<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="">
        <meta name="author" content="Agile Generation AB">
        <title>Agigen Boilerplate Admin</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ static_path }}/css/user/admin.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="/js/vendor/html5shiv.js"></script>
            <script src="/js/vendor/respond.min.js"></script>
        <![endif]-->

        <script>
            if(typeof(console) === 'undefined') {
                var console = {}
                console.log = console.error = console.info = console.debug = console.warn = console.trace = console.dir = console.dirxml = console.group = console.groupEnd = console.time =   console.timeEnd = console.assert = console.profile = function() {};
            }
        </script>
    </head>
    <body>
        <!--[if lt IE 9]>
            <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block header %}
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ uri_for('index') }}">Project name</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <p class="navbar-text pull-right">
                            Logged in as {{ user }}
                        </p>

                        {# (href, route_name, id, caption) #}
                        {% set navigation_bar = [
                            (None, 'admin-index', 'index', 'Home'),
                            (None, 'admin-sidebar', 'sidebar', 'Page With Sidebar'),
                            ('/admin/other/', None, 'other', 'Another Page'),
                        ] -%}
                        {% set active_page = active_page|default('index') -%}

                        <ul class="nav navbar-nav">
                            {% for href, route_name, id, caption in navigation_bar %}
                                <li class="{% if id == active_page %}active {% endif %}menu-item menu-item-{{ id }}"><a href="{{ href if href else uri_for(route_name) }}">{{ caption }}</a></li>
                            {% endfor %}{# for nav_item in navigation_bar #}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        {% endblock header %}

        <div class="container">
            {% block basecontent %}
                {% block maincontent %}
                {% endblock %}
            {% endblock basecontent %}
        </div><!--/row-->

        <footer class="container">
            <hr>
            <p>Simple App Engine boilerplate, by <a href="http://agigen.se">Agigen - Agile Generation AB</a></p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        {% block js -%}
        {% endblock -%}
    </body>
</html>
